.bkg-white {
    background-color: white;
}

img {
    margin: 30px;
}

.row {
    margin: 20px 0;
}

h4, input {
    margin-bottom: 10px;
}

li, p {
    font-weight: bolder;
}

.submit-button {
    background-color: greenyellow;
}

.devour-button {
    display: inline-block;
    background-color: lightblue;
}